.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-content {
    width: 446px;
    height: 228px;
    margin-left: 20px;
    margin-right: 20px;

    background: #EEEEEE;
    border: 0.807281px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3.22912px 3.22912px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

div.box-content + div.box-content {
    margin-top: 300px;
}



p {
    color: #333333;
    line-height: 20px;
    font-size: 1.7rem;
    text-align: justify;
}

.skill {
    margin-bottom: 20px;
}

.button-download {
    width: 622px;
    height: 76px;
    margin-top: 40px;

    background: #333333;
    border: 0.807281px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3.22912px 3.22912px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    text-decoration: none;

}

.text-download {
    color: #E02041;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 60px;
}

@media (max-width: 935px) {
    div.box-content + div.box-content {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .text-download {
        font-size: 3rem;
        line-height: 90px;
    }
}

@media (max-width: 340px) {
    .text-download {
        font-size: 2.5rem;
        line-height: 90px;
    }
    p {
        font-size: 1.5rem;
    }
}